<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambola | Invalid Response</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
        background: #1d093a;
      }
     
     
      #myBtn, .home {
        display: inline-block;
        width: max-content;
        margin: 0 10px;
        text-align: center;
        color: #ffff;
        background-color: purple;
        border: none;
        padding: 10px;
        border-radius: 5px;
      }
    </style>
    <h1
      style="
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        color: #ffff;
      "
    >
      OOPS! UNAUTHORIZED ACCESS!
    </h1>
    <!-- Trigger/Open The Modal -->
    <div style="width: max-content;margin: 0 auto;">
      <a href="/" class="home">Go Home</a>
    </div>


    <p style="color: white; text-align: center;">
      <%= message %>
    </p>
  </body>
  
</html>
